<div class="container mx-auto p-4">
  <h2 class="text-2xl font-semibold mb-4 text-gray-800">Customer List</h2>
  <div class="shadow-lg rounded-lg bg-white p-4 overflow-x-auto">
    <nz-table
      nzShowSizeChanger
      [nzData]="filteredCustomers"
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)"
    >
      <thead>
        <tr>
          <th nzColumnKey="name" [nzSortFn]="true" [nzSortPriority]="true">Name</th>
          <th nzColumnKey="category" [nzFilters]="filterCategories" [nzFilterFn]="false">Category</th>
          <th nzColumnKey="preferences" [nzFilters]="filterPreferences" [nzFilterFn]="false">Preference</th>
          <th nzColumnKey="email">Email</th>
          <th nzColumnKey="phone">Phone</th>
          <th nzColumnKey="address">Address</th>
          <th nzColumnKey="action" class="w-48">Actions</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of filteredCustomers">
          <td>{{ customer.name }}</td>
          <td>{{ customer.category }}</td>
          <td>{{ customer.preferences }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.phone }}</td>
          <td>{{ customer.address }}</td>
          <td class="px-4 py-2 text-center">
            <div class="flex justify-start items-center space-x-4">
              <button 
                class="text-blue-500 hover:text-blue-700"
                (click)="viewCustomer(customer.customerId)">
                <i class="fas fa-edit"></i>
              </button>
              <button 
                class="text-red-500 hover:text-red-700"
                (click)="deleteCustomer(customer.customerId)">
                <i class="fas fa-trash-alt"></i>
              </button>
              <button 
                class="text-green-500 hover:text-green-700"
                (click)="sendEmail(customer.customerId)">
                <i class="fas fa-envelope"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
