<!-- <div class="container mx-auto p-4"> -->
    User-wise Performance
    <!-- <div class="shadow-lg rounded-lg bg-white p-4 mb-6"> -->
      <!-- <h3 class="text-lg font-semibold mb-2">User-wise Performance</h3> -->
      <!-- <div style="position: relative; height: 300px;"> -->
        <!-- <div *ngIf="userWiseChartData.datasets.length"> -->
            <!-- <canvas baseChart -->
                    <!-- [data]="userWiseChartData" -->
                    <!-- [options]="userWiseChartOptions" -->
                    <!-- [type]="'bar'"> -->
            <!-- </canvas> -->
          <!-- </div> -->
<!--            -->
          <!-- <div *ngIf="dateWiseChartData.datasets.length"> -->
            <!-- <canvas baseChart -->
                    <!-- [data]="dateWiseChartData" -->
                    <!-- [options]="dateWiseChartOptions" -->
                    <!-- [type]="'line'"> -->
            <!-- </canvas> -->
          <!-- </div> -->
<!--            -->
          <!-- <div *ngIf="metricTypeWiseChartData.datasets.length"> -->
            <!-- <canvas baseChart -->
                    <!-- [data]="metricTypeWiseChartData" -->
                    <!-- [options]="metricTypeWiseChartOptions" -->
                    <!-- [type]="'pie'"> -->
            <!-- </canvas> -->
          <!-- </div> -->
<!--            -->
      <!-- </div> -->
    <!-- </div> -->
<!--    -->
    Date-wise Performance
    <!-- <div class="shadow-lg rounded-lg bg-white p-4 mb-6"> -->
      <!-- <h3 class="text-lg font-semibold mb-2">Date-wise Performance</h3> -->
      <!-- <div style="position: relative; height: 300px;"> -->
        <!-- <!-- <canvas baseChart -->
                <!-- [data]="dateWiseChartData" -->
                <!-- [options]="dateWiseChartOptions" -->
                <!-- [type]="'line'"> -->
        <!-- </canvas> --> -->
      <!-- </div> -->
    <!-- </div> -->
<!--    -->
    Metric Type-wise Performance
    <!-- <div class="shadow-lg rounded-lg bg-white p-4 mb-6"> -->
      <!-- <h3 class="text-lg font-semibold mb-2">Metric Type-wise Performance</h3> -->
      <!-- <div style="position: relative; height: 300px;"> -->
        <!-- <!-- <canvas baseChart -->
                <!-- [data]="metricTypeWiseChartData" -->
                <!-- [options]="metricTypeWiseChartOptions" -->
                <!-- [type]="'pie'"> -->
        <!-- </canvas> --> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
<!--  -->