<div class="container mx-auto p-6">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <div *ngFor="let chart of charts" class="bg-white p-6 rounded-lg shadow-lg border border-gray-200">
      <h3 class="text-xl font-semibold text-center mb-4">{{ chart.metricType }}</h3>
      <div class="max-w-full overflow-hidden">
        <apx-chart
          [series]="chart.chartOptions.series"
          [chart]="chart.chartOptions.chart"
          [xaxis]="chart.chartOptions.xaxis"
          [dataLabels]="chart.chartOptions.dataLabels"
          [title]="chart.chartOptions.title"
          
        ></apx-chart>
      </div>
    </div>
  </div>
</div>
