<div class="container mx-auto p-4">
  <h2 class="text-2xl font-semibold mb-4 text-gray-800">Lead List</h2>
  <div class="shadow-lg rounded-lg bg-white p-4 overflow-x-auto">
    <nz-table
    [nzData]="leads"
    [nzLoading]="loading"
    [nzBordered]="true"
    [nzShowPagination]="false"  
    >
      <thead>
        <tr>
          <th nzColumnKey="customerId" [nzSortFn]="true" [nzSortPriority]="true">Customer</th>
          <th nzColumnKey="assignedTo">Assigned To</th>
          <th nzColumnKey="status" [nzFilterFn]="false">Status</th>
          <th nzColumnKey="pipelineStage" [nzFilterFn]="false">Pipeline Stage</th>
          <th nzColumnKey="dateCreated" [nzFilterFn]="false">Date Created</th>
          <th nzColumnKey="lastUpdated" [nzFilterFn]="false">Last Updated</th>
          <th nzColumnKey="action">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lead of leads">
          <td>{{ getCustomerName(lead.customerId) }}</td>
          <td>{{ getAssignedUsername(lead.assignedTo) }}</td>
          <td>{{ lead.status }}</td>
          <td>{{ lead.pipelineStage }}</td>
          <td>{{ formatDate(lead.dateCreated) }}</td>
          <td>{{ formatDate(lead.lastUpdated) }}</td>
          <td class="px-4 py-2 text-start space-x-5">
            <button 
              class="text-blue-500 hover:text-blue-700"
              (click)="viewLead(lead.leadId)">
              <i class="fas fa-edit"></i>
            </button>
            <button 
              class="text-red-500 hover:text-red-700"
              (click)="deleteLead(lead.leadId)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <!-- Custom Pagination Buttons -->
    <div class="flex justify-end mt-4 space-x-4">
      <button 
        class="px-4 py-2 bg-gray-200 rounded-md text-gray-800 hover:bg-gray-300"
        [disabled]="pageIndex === 0"
        (click)="onPreviousPage()">
        Previous
      </button>
      <button 
        class="px-4 py-2 bg-blue-600 rounded-md text-white hover:bg-blue-700"
        [disabled]="(pageIndex * pageSize) > total"
        (click)="onNextPage()">
        Next
      </button>
    </div>
  </div>
</div>
